* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

header,
main {
  padding: 25px;
}

header {
  background-color: #000A13;
  padding: 25px;
  height: 80px;
}

.title {
  color: rgb(227, 227, 227);
  margin: 0;
}

main {
  background-image: url('../assets/tool-shed.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.input-container {
  background-color: rgba(0, 10, 19, 0.7);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
